- my_class = todo_item.completed ? "completed" : ""
- my_id = todo_item.id.to_s ? todo_item.id.to_s : ""
- item_id = "item_id_#{todo_item.id}"

%li{class: my_class, id: item_id, data: { id: my_id } }
	.view
		.toggle
			- checked = todo_item.completed ? "checked" : ""
			= check_box_tag("check_box", checked)

			%label= todo_item.title

		= link_to "delete", todo_item, method: :delete, remote: true, class: "btn"