.container 
	%section#todoapp
		%header#header
			%h1 todos
			
			#new-link
				= link_to "New Task", new_todo_item_path, id: "new_todo_item", remote: true

		%section#main
			%ul#todo-list
				= render partial: "todo_item", collection: @todo_items

		%footer#footer
			%button#clear-completed Clear completed