$blue					:#3BA3FF;
* {
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
}

#new-link {
	a {
		color: $blue;
		text-decoration: none;
		padding: 10px 25px;
		border: 3px solid $blue;
		&:hover {
			color: white;
			background: $blue;
		}
	}
}
.container {
	width: 800px;
	margin: 20px auto;
}

ul {
	list-style-type: none;
}

.toggle {
	width: 500px;
	float: left;
}

.btn {
	color: $blue;
}

#todo-list {
	margin: 40px 0;
	padding: 0;
}