
* {
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
}
.container {
	width: 800px;
	margin: 20px auto;
}

ul {
	list-style-type: none;
}

.toggle {
	width: 500px;
	float: left;
}

.destroy {
	content: "delete";
	padding: 10px 25px;
}